services:
  flink-jobmanager:
    image: flink:1.18.1-scala_2.12-java11
    container_name: flink-jobmanager
    command: jobmanager
    ports:
      - "8081:8081"
      # - "9249:9249"   # (tuỳ chọn) metrics Prometheus
    volumes:
      - ./infrastructure/flink/conf:/opt/flink/conf  
      # Nếu cần đặt JAR job ,dùng usrlib:
      #- ./flink-jobs/lib:/opt/flink/usrlib:ro
      - flink_state:/opt/flink/state
    healthcheck:
      test: ["CMD", "curl", "-fsS", "http://localhost:8081"]
      interval: 10s
      timeout: 5s
      retries: 30
    networks: [retail-net]

  flink-taskmanager:
    image: flink:1.18.1-scala_2.12-java11
    container_name: flink-taskmanager
    command: taskmanager
    depends_on:
      - flink-jobmanager
    # ports:
    #   - "9250:9249"   # (tuỳ chọn) metrics Prometheus TM
    volumes:
      - ./infrastructure/flink/conf:/opt/flink/conf  
      #- ./flink-jobs/lib:/opt/flink/usrlib:ro  # job jars (nếu có)
      - flink_state:/opt/flink/state
    networks: [retail-net]

volumes:
  flink_state:
    driver: local

networks:
  retail-net:
    driver: bridge
